<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>OpenLayers - {{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.url }}theme/screen.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" />
        <script src="{{ site.url }}script/site.js"></script>
        <script src="{{ site.url }}script/jugl.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    </head>
    <body>
        <div id="header">
            <h1><a href="{{ site.url }}" title="Site Root">OpenLayers 3</a></h1>
        </div>
        <div id="content">
            {{ content }}
            <div class="clear-both"></div>
        </div>
        <div id="footer">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a> Some rights reserved.
        </div>
    </body>
</html>
